.root{
    -fx-background-color: black;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "yellow";
}
#titleLabel{
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "yellow";
    -fx-alignment: center;
}

.button{
    -fx-background-color: black;
    -fx-text-fill: "yellow";
    -fx-border-width: 5px;
    -fx-border-color: "yellow";
    -fx-border-radius: 3px;
}
.button:hover{
    -fx-background-color: "yellow";
    -fx-text-fill: black;
}